.video {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.big{
    height:100%;
    width: 70%;
}

.iframe-video{
    height: 100%;
    width: 80%;
}

@media only screen and (max-width: 768px) {

    .big{
        width: 90%;
    }

    .iframe-video{
        height: 50%;
        width: 90%;
    }





}
